* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $primary;
}

.bug * {
  background: $black;
  color: $white;
  outline: 0.15rem solid $warning;
}

img {
  max-width: 100%;
  height: auto;
}
