// Primary Colors
$primary: #00ccfb;
$secondary: #adb5bd;
$success: #00fc4c;
$warning: #ffc600;
$danger: #ff2300;
$info: #9200fc;
$background: #222;

// Base Colors
// Colors
$blue: #00ccfb;
$indigo: #9200fc;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff2300;
$orange: #ff7f00;
$yellow: #ffc600;
$green: #00fc4c;
$teal: #20c997;
$cyan: #17c2b8;

// Grays

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
